.Input__container {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  .Input__label {
    text-align: left;
    color: $white;
  }
  .Input__input {
    color: $grey;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
  }
}
